@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "../site-template.cshtml";
    ViewBag.Title = "Home";
}

<form class="form" action="/post" method="POST">
    <div class="form-group">
        <label>
            What are you doing?
            <textarea name="status" class="form-control" cols="70" rows="3"></textarea>
        </label>
    </div>
    <button type="submit">Submit</button>
</form>

<ul>
    @foreach (var message in Model.LatestMessages)
    {
        <li>
            <a href="">@("@" + message.Username)</a> - @message.Time.ToString():
            @message.Status
        </li>
    }
</ul>
